name: Build and Push
on:
  push:
    paths:
      - 'src/**'
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  docker:
    permissions:
      contents: write
      packages: write
      actions: write
    uses: dubloksoftware/workflows/.github/workflows/build-and-push.yml@main
    with:
      image_name: ${{ github.event.repository.name }}
      platforms: 'linux/amd64,linux/arm64'
      context_path: 'src'
      dockerfile_path: 'src/Dockerfile'
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}